# Python virtual environment
venv/
.venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code settings
.vscode/
*.code-workspace

# PyCharm settings
.idea/

# Environment variables
.env
.env.*

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Dataset files (uncomment if needed)
# *.csv
# *.xlsx
# *.json

# Model files (uncomment if needed)
# *.pkl
# *.h5
# *.model

# Autogluon model runs
notebooks/Autogluonmodels

.ipynb_checkpoint