# PyTorch with CUDA support
torch --extra-index-url https://download.pytorch.org/whl/cu118
torchvision --extra-index-url https://download.pytorch.org/whl/cu118

# AutoGluon and its dependencies
autogluon>=1.0.0
numpy>=1.21.0
pandas>=1.3.0
scikit-learn>=1.0.0
matplotlib>=3.3.0

# Ohters
ipykernel
plotly
jupyter